body {
  padding: 10px;
  width: 200px;
  min-height: 100px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.header {
}

#hImg {
  width: 25px;
  height: 25px;
  float: left;
  padding-bottom: 10px;
  padding-right: 5px;
}

.content {
  padding-top: 10px;
}

.footer {
  padding-top: 10px;
}
